<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set this to true to have the markers draw themselves as 5x5 aqua squares. -->
    <add key="viewMarkers" value="false"/>
    <!-- Debug the stroke control; essentially has the control dump a lot of debug output -->
    <add key="debugStrokeControl" value="true"/>

    <!-- Draw ink overlay's editable rectangle, to ensure that it's mapping correctly on top of word's editable area -->
    <add key="viewOverlayEditableRegion" value="false"/>

    <!-- Draw lines around the strokes grouped onto one control, and a line from that group to the anchor control-->
    <add key="viewStrokeControlBoxes" value="false" />

    <add key="enableMarginBoxReflow" value="true" />

    <!-- Nothing gets anchored; just floats over the text. Useful for screen shots. -->
    <add key="disableAllAnchoring" value="false" />

    <!-- Highlight all recognized proof-reading marks by making them a different color-->
    <add key="highlightProofreadingMarks" value="true" />

    <!-- Use range anchors-->
    <add key="useRangedBasedAnchoring" value="true" />

    <!-- Instantly apply the annotations after drawing them -->
    <add key="instantApply" value="true" />

    <!-- Don't install buttons and menu items into the toolbars. For demoing purposes -->
    <add key="installToolbars" value="false" />
    
  </appSettings>
</configuration>